<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885015027363-fmoq4caic7vfdu4109kacm2104ur18np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885015027363-fmoq4caic7vfdu4109kacm2104ur18np</string>
	<key>API_KEY</key>
	<string>AIzaSyBDBJBMUlNF5uKRywkBDXq4UU_YPovWOqw</string>
	<key>GCM_SENDER_ID</key>
	<string>885015027363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.phatphum.nsc2024.nsc2024</string>
	<key>PROJECT_ID</key>
	<string>nsc2024-85674</string>
	<key>STORAGE_BUCKET</key>
	<string>nsc2024-85674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885015027363:ios:0d0ff495eba82a1edf6916</string>
</dict>
</plist>